body {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #cff;
    background: url("..//images/concrete_wall.png");
    background-repeat: repeat;
    background-size: contain;
}
#card-container {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 5px 5px 10px rgba(150, 150, 150, .75);
    background: linear-gradient(45deg, #cff, #fcc);
}

h3 {
    font-size: 2em;
    padding: 25px 0;
    margin: 0;
    text-shadow: 3px 2px 4px gray;
}

img {
    width: 300px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
    transition: border-radius 300ms, box-shadow 300ms;
}

img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    border-radius: 10px;
}

.content {
    width: 268px;
    border: 1px solid #fff;
    padding: 0 15px;
    margin-bottom: 15px;
    border-radius: 0 0 10px 10px;
}

.fun-fact {
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
}

.label {
    font-weight: bold;
    font-size: 1.1em;
}

.description {
    margin-bottom: 20px;
}
